Repository lenaxia/home-ops-dev, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

blah
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

blah
  .taskfiles/AnsibleTasks.yml
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  ansible/kubernetes/inventory/group_vars/master/k3s.yml
  ansible/kubernetes/playbooks/apt-upgrade.yml
  ansible/kubernetes/playbooks/dist-upgrade.yml
  cluster/apps/networking/multus/app/helm-release.yaml
Labels: area/ansible, area/kubernetes

Initial commit enabling SOPS secrets
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

blah
  cluster/base/manifests.yaml
Labels: area/kubernetes

prom crds update
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  cluster/apps/monitoring/prometheus-stack/app/helm-release.yaml
Labels: area/ansible, area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

Initial commit enabling SOPS secrets
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

enable multus
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kyverno/app/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

yaml
  cluster/apps/networking/multus/app/kustomization.yaml
  cluster/apps/networking/multus/app/networkattachdefinition.yaml
Labels: area/kubernetes

namespace
  cluster/apps/networking/multus/app/networkattachdefinition.yaml
Labels: area/kubernetes

networkattach
  cluster/apps/networking/multus/app/networkattachdefinition.yaml
Labels: area/kubernetes

blah
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/networking/multus/app/networkattachdefinition.yaml
Labels: area/kubernetes

kyverno
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/networking/multus/app/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/networking/multus/app/networkattachdefinition.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

tautulli to multus
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/networking/multus/multus-daemonset-thick.yml
Labels: area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

Initial commit enabling SOPS secrets
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  cluster/apps/monitoring/prometheus-stack/app/helm-release.yaml
  cluster/apps/networking/multus/multus-daemonset-thick.yml
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/ansible, area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

Initial commit enabling SOPS secrets
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  cluster/apps/networking/multus/kube-flannel.yml
  cluster/apps/networking/multus/temp.json
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/ansible, area/kubernetes

enable kyverno
  cluster/apps/kustomization.yaml
  cluster/apps/system-upgrade/plans/cluster-upgrade.yaml
Labels: area/kubernetes

postgres replicas
  cluster/apps/databases/cloudnative-pg/clusters/defaultpg.yaml
Labels: area/kubernetes

blah
  cluster/apps/databases/cloudnative-pg/clusters/defaultpg.yaml
Labels: area/kubernetes

enable system upgrade to see how well it takes
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

system upgrade fixes
  cluster/apps/system-upgrade/app/kustomization.yaml
  cluster/apps/system-upgrade/app/system-upgrade-patches.yaml
  cluster/apps/system-upgrade/plans/cluster-upgrade.yaml
Labels: area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

system upgrade enable
  cluster/apps/home/localai/app/helm-release.yaml
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/base/apps.yaml
  cluster/base/config.yaml
  cluster/base/crds.yaml
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/base/flux-system/kustomization.yaml
  cluster/base/infrastructure.yaml
Labels: area/kubernetes

blah
  cluster/base/apps.yaml
  cluster/base/config.yaml
  cluster/base/crds.yaml
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/base/flux-system/kustomization.yaml
  cluster/base/infrastructure.yaml
  cluster/flux/manifests.yaml
Labels: area/kubernetes

blah
  archive/old/base/apps.yaml
  archive/old/base/config.yaml
  archive/old/base/crds.yaml
  archive/old/base/flux-system/gotk-components.yaml
  archive/old/base/flux-system/gotk-sync.yaml
  archive/old/base/flux-system/kustomization.yaml
  archive/old/base/infrastructure.yaml
  archive/old/base/manifests.yaml
  archive/old/manifests/certificates/kaocloud-selfsigned-ca.yaml
  archive/old/manifests/certificates/kustomization.yaml
  archive/old/manifests/certificates/root-ca.yaml
  archive/old/manifests/descheduler-job/configmap.yaml
  archive/old/manifests/descheduler-job/job.yaml
  archive/old/manifests/descheduler-job/rbac.yaml
  archive/old/manifests/kube-prometheus-stack/kustomization.yaml
  archive/old/manifests/kube-prometheus-stack/namespace.yaml
  archive/old/manifests/kube-prometheus-stack/release.yaml
  archive/old/manifests/kube-prometheus-stack/repository.yaml
  archive/old/manifests/kustomization.yaml
  archive/old/manifests/monitoring-config/dashboards/cluster.json
  archive/old/manifests/monitoring-config/dashboards/control-plane.json
  archive/old/manifests/monitoring-config/dashboards/logs.json
  archive/old/manifests/monitoring-config/kustomization.yaml
  archive/old/manifests/monitoring-config/podmonitor.yaml
  archive/old/manifests/oauth2-oidc-debugger/docker-compose.yaml
  archive/old/manifests/oauth2-oidc-debugger/kustomization.yaml
  archive/old/manifests/oauth2-oidc-debugger/oauth2-debugger-deployment.yaml
  archive/old/manifests/serviceaccounts/default-token.yaml
  archive/old/manifests/serviceaccounts/kustomization.yaml
Labels: none

blah
  cluster/flux/config/cluster.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
