Repository lenaxia/home-ops-dev, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

blah
  cluster/apps/kustomization.yaml
  cluster/apps/monitoring/loki/configmap.yaml
  cluster/apps/monitoring/loki/helm-release.yaml
  cluster/apps/monitoring/loki/kustomization.yaml
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/kubernetes

loki
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/monitoring/loki/helm-release.yaml
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

vector cluster
  cluster/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes

blah
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

ugh
  cluster/apps/authentication/authelia/helm-release.yaml
Labels: area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

knative enable
  cluster/apps/iot/knative/kustomization.yaml
  cluster/apps/kustomization.yaml
  terraform/main.tf
Labels: area/kubernetes, area/terraform

Initial commit enabling SOPS secrets
  ansible/ansible.cfg
  ansible/collections/requirements.yml
  ansible/inventory/k8s-at-home/group_vars/all.yml
  ansible/inventory/k8s-at-home/hosts.ini
  ansible/kubernetes/.envrc
  ansible/kubernetes/ansible.cfg
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  ansible/kubernetes/inventory/group_vars/all/os.yml
  ansible/kubernetes/inventory/group_vars/master/k3s.yml
  ansible/kubernetes/inventory/group_vars/worker/k3s.yml
  ansible/kubernetes/inventory/hosts.yml
  ansible/kubernetes/playbooks/cluster-installation.yml
  ansible/kubernetes/playbooks/cluster-nuke.yml
  ansible/kubernetes/playbooks/cluster-prepare.yml
  ansible/kubernetes/playbooks/templates/audit-policy.yaml.j2
  ansible/old/inventory/.gitignore
  ansible/old/inventory/dev/group_vars/all.yml
  ansible/old/inventory/dev/hosts.ini
  ansible/old/inventory/prod/group_vars/all.yml
  ansible/old/inventory/prod/hosts.ini
  ansible/old/reset.yml
  ansible/old/site.yml
  ansible/requirements.yml
  ansible/terraform.tfstate
  cluster/base/flux-system/gotk-sync.yaml
  terraform/main.tf
  terraform/vars.tf
Labels: area/ansible, area/kubernetes, area/terraform

loadbalancer ansible role
  ansible/loadbalancers/handlers/main.yml
  ansible/loadbalancers/inventory/.gitignore
  ansible/loadbalancers/inventory/group_vars/all.yml
  ansible/loadbalancers/inventory/group_vars/loadbalancers.yml
  ansible/loadbalancers/inventory/hosts.ini
  ansible/loadbalancers/loadbalancers.yml
  ansible/loadbalancers/reset.yml
  ansible/loadbalancers/tasks/enable_blocky.yml
  ansible/loadbalancers/tasks/enable_haproxy.yml
  ansible/loadbalancers/tasks/enable_keepalived.yml
  ansible/loadbalancers/tasks/prereqs.yml
  ansible/loadbalancers/templates/blocky.service
  ansible/loadbalancers/templates/blocky.yml
  ansible/loadbalancers/templates/haproxy.cfg.j2
  ansible/loadbalancers/templates/keepalived.conf.j2
  ansible/loadbalancers/templates/keepalived_vip.j2
  ansible/loadbalancers/templates/loadbalancer_backend.j2
  ansible/loadbalancers/templates/loadbalancer_core.j2
  ansible/loadbalancers/templates/script.sh.j2
  ansible/roles/longhorn/tasks/main.yml
Labels: area/ansible

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

update apps
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Initial commit enabling SOPS secrets
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

blah
  ansible/kubernetes/inventory/hosts_dev.yml
  cluster/apps/kustomization.yaml
  cluster/config/secret.sops.yaml
Labels: area/ansible, area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

redis
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/home/hajimari/app/helm-release.yaml
  cluster/apps/home/hajimari/ks.yaml
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Add Flux sync manifests
  cluster/base/flux-system/gotk-sync.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/base/apps.yaml
  cluster/base/config.yaml
  cluster/base/core.yaml
  cluster/base/crds.yaml
  cluster/base/infrastructure.yaml
  cluster/base/manifests.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

let the upgrade begin
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

kyverno
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

replicas to 2
  cluster/apps/monitoring/grafana/app/helm-release.yaml
  cluster/apps/monitoring/loki/app/helm-release.yaml
  cluster/apps/monitoring/prometheus-stack/app/helm-release.yaml
  cluster/apps/monitoring/vector/aggregator/helmrelease.yaml
  cluster/apps/networking/authelia/app/helm-release.yaml
  cluster/apps/networking/traefik/app/helm-release.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/databases/redis/lb/config/haproxy.cfg
  cluster/config/secret.sops.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/onedr0p/kopia to v0.13.0"
  cluster/apps.bak/kube-tools/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps.bak/storage/kopia-web/helm-release.yaml
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/storage/kopia-web/app/helm-release.yaml
Labels: area/kubernetes

upgrade to 1.27
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

dev
  ansible/kubernetes/inventory/group_vars/all/k3s.yml
  ansible/kubernetes/inventory/hosts_prod.yml
  cluster/apps/kustomization.yaml
Labels: area/ansible, area/kubernetes

system upgrade
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

important apps
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

blah
  cluster/apps/databases/redis/app/secret.sops.yaml
  cluster/apps/kustomization.yaml
  cluster/config/secret.sops.yaml
Labels: area/kubernetes
